/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 26 may. 2026, 22:12:57
    Author     : leiston
*/
.fondo{

    background-image: url("../../images/antiguedades/antiguedades.jpg");

    background-size: cover;

    background-position: center top;

    background-repeat: no-repeat;

    background-attachment: fixed;

    min-height: 100vh;

    padding: 0px 0;
    
    margin-top : 0;
}

/*diseño buscador*/
.buscador{
    text-align:center;
    margin:30px 0;
}

#buscar{
    width:350px;
    max-width:90%;
    padding:12px;
    font-size:16px;
    border-radius:8px;
    border:1px solid #999;
}